@media screen and (max-width:1200px) {
    .container {
        width: 960px;
    }
}

@media screen and (max-width:992px) {
    .container {
        width: 720px;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 540px;
    }

}

@media screen and (max-width:576px) {
    .container {
        padding: 0 10px;
        width: auto;
    }
}