// -----------------COPYRIGHT----------------
.copyright {
    background-color: #101010;
    padding-bottom: 41px;
}

.copyright span {
    padding-top: 58px;
    font-size: 13px;
    color: #555;
}

.copyright span:hover {
    color: #BAA78F;
}

.copyright span:not(:last-of-type) {
    padding-right: 25px;
}

///////////////////////////////////