/* -----------------FOOTER----------------- */
.footer__subtitle_date {
    font-size: 12px;
    line-height: 17px;
    color: #363636;
}

.blue {
    color: #00BFF3;
}

.footer {
    background-color: #191919;

}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.block__waxom {
    padding-top: 74px;
    max-width: 270px;
}

.block__waxom:hover .waxom__text,
.block__waxom:hover .waxom__read {
    color: #C7B299;
}

.waxom__text {
    padding-top: 17px;
    font-size: 14px;
    line-height: 17px;
    color: #555;
}

.waxom__read {
    padding-top: 18px;
    color: #d1d1d1;
}

.waxom__read:after {
    content: url('../icons/read_more.svg');
    padding-left: 10px;
}

.block__posts {
    max-width: 271px;
    padding-top: 107px;
}

.block__posts-subtitle {
    font-family: 'raleway', sans-serif;
    font-weight: 600;
    padding-bottom: 24px;
    font-size: 24px;
    color: #fff;
}

.last-posts {
    max-width: 270px;
}

.posts__date {
    font-size: 12px;
    line-height: 17px;
    color: #363636;
}

.last-posts:hover .posts__date {
    color: #fff;
}

.posts__text {
    padding-top: 6px;
    font-size: 14px;
    line-height: 17px;
    color: #555;
}


.last-posts:hover .posts__text {
    color: #C7B299;
}

.posts__line {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #242424;
}

.widget__wrapper-img {
    min-width: 270px;
    min-height: 200px;
}

.copyright {
    margin-top: 128px;
    background-color: #101010;
    padding-bottom: 41px;
}

.copyright span {
    padding-top: 58px;
    font-size: 13px;
    color: #555;
}

.copyright span:hover {
    color: #BAA78F;
}

.copyright span:not(:last-of-type) {
    padding-right: 25px;
}

///////////////////////////////////

/* ////////////////////////////////////// */

@media(max-width:1000px) {
    .footer {
        padding-bottom: 20px;
    }
}

@media screen and (max-width:768px) {

    .footer {
        padding-bottom: 30px;
    }

    .block__posts,
    .block__waxom {
        max-width: 260px;
        padding-top: 15px;
    }

    .copyright {
        text-align: center;
    }
}

@media screen and (max-width:576px) {

    .widget__wrapper-img img {
        max-width: 120px;
    }
}