/* -------------MOBILE-------------- */
.mobile {
    padding-top: 80px;
}

.mobile__wrapper {
    display: flex;
    justify-content: center;
}

.mobile__figure {
    display: flex;
    justify-content: center;
}

.mobile__figcaption {
    padding-top: 90px;
}

.mobile__figcaption-subtitle {
    font-family: 'raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #000;
}

.mobile__figcaption-text {
    padding-top: 20px;
    font-size: 16px;
    color: #8C8C8C;
    line-height: 20px;
}

.mobile__figcaption-list {
    padding-left: 60px;
    padding-top: 50px;
    font-size: 16px;
    color: #8C8C8C;
    line-height: 20px;
}

.mobile__figcaption-list-item {
    line-height: 30px;
}

.mobile__figcaption-list-item:before {
    content: url('../icons/circle_arrow.svg');
    padding-right: 15px;
    line-height: 30px;
    vertical-align: -18%;
}

.block-mobile_show {
    display: none;
}

/* ////////////////////////////////////// */


@media(max-width:1000px) {
    .mobile__figcaption {
        padding-top: 0px;

        &-text {
            padding-top: 10px;
        }

        &-subtitle {
            text-align: center;
        }

        &-list {
            padding-left: 0;
            padding-top: 10px;
        }
    }
}

@media screen and (max-width:992px) {}

@media screen and (max-width:768px) {
    .mobile {
        padding-top: 35px;

        &__figure {
            display: flex;
            flex-direction: column;
        }

        .mobile__figcaption {
            &-subtitle {
                font-size: 21px;
            }

            &-text {
                line-height: 16px;
                font-size: 14px;
                text-align: center;
            }

            &-list {
                padding-top: 15px;
            }

        }

    }

    .mobile__figcaption-list-item {
        font-size: 14px;
        line-height: 16px;
    }

    .mobile__figure img {
        padding-top: 5px;
        height: 250px;
        order: 3;
        margin: 0 auto;
    }
}

@media screen and (max-width:576px) {
    .mobile__figcaption-list-item {
        padding-top: 10px;
        display: flex;
        width: 95%;
    }

    .mobile__figcaption-list-item:before {
        line-height: 14px;
    }
}