/* -------------SERVICES------------- */
.services {
    padding-top: 80px;
}

.servises__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services__card {
    // width: 25%;
    min-width: 270px;
    max-width: 270px;
    padding-right: 5px;
    padding-left: 5px;
    flex-direction: column;
    text-align: center;
}

.services__card svg {
    min-height: 48px;
}

.services__subtitle {
    font-family: 'raleway', sans-serif;
    font-weight: 600;
    padding-top: 30px;
    font-size: 22px;
}

.services__text {
    font-size: 14px;
    line-height: 17px;
    padding-top: 20px;
}

.line {
    margin-top: 30px;
    width: 70px;
    background: #F1EEE9;
    height: 3px;
    border: none;
}

.services__card:hover .line {
    background-color: #C7B299;
}

.services__card:hover svg {
    transition: all 0.5s ease-in-out;
    transform: rotate(720deg);

    fill: #C7B299;
}

.services__card:hover .services__subtitle {
    color: #C7B299;
}

/* /////////////////////////////////////////////// */


@media screen and (max-width:1200px) {
    .services__card {
        margin-top: 15px;
    }

    .line {
        margin-top: 20px;
    }
}

@media(max-width:1000px) {
    .services {
        padding-top: 35px;
    }
}