/* -------------STATISTICS------------------ */
.statistics {
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}

.statistics__wrapper {
    display: flex;
    max-width: 790px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 35px;
}

.statistics__card {
    padding-top: 25px;
    text-align: center;
    width: 120px;
    margin: 0 5px;
}

// .statistics__card:not(:last-of-type) {
//     padding-right: 70px;
// }

.card__number {
    padding-top: 3px;
    font-size: 48px;
    color: #fff;

}

.card__descr {
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 14px;
    color: #C7B299;
}

.statistics__card::after {
    content: "";
    margin: 0 auto;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
}

/* ////////////////////////////////////// */
@media screen and (max-width:768px) {
    .card__number {
        font-size: 35px;
    }

}

@media screen and (max-width:576px) {
    .statistics__card img {
        width: 34px;
    }

    .card__number {
        font-size: 25px;
    }
}